<% if model.errors.any? %>
  <div id="error_explanation">
    <h1>エラー発生</h1>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
