

.main{
  width: 100vw;
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
}


.main-column{
  margin: auto;
  width: 90vw;
}

.sub-column{
  width: 85vw;
  margin: auto;
}

a{
  text-decoration: none;
}

.header-image{
  width: 100vw;
  height: 730px;
  vertical-align: bottom;
}

.work-report{
  height: 380px;
  border-top: solid 1px darkgray;
  border-bottom: solid 2px darkgray;
  background-color: rgb(247, 247, 247);
}

.work-report-contents{
  width: 85vw;
  margin: auto;
  height: 350px;
}

.work-report-name{
  font-size: 26px;
  font-weight: bold;
  padding: 30px 0 30px 0;
}

.work-report-box{
  display: flex;
  justify-content: space-between;
  height: 350px;
}

.work-report-list{
  width: 24vw;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(160, 160, 160);
  position: relative;
}

.work-report-image{
  width: 24vw;
  height: 220px;
  border-radius: 10px;
  filter:brightness(50%);
}


.work-report-image:hover{
  filter:brightness(100%);
}

.btn-work-report{
  position: absolute;
  top: 35%;
  left: 35%;
  background-color:rgb(255, 198, 92);
  padding: 2px 20px 2px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 100;
  color: rgb(79, 79, 79);
}

.work-report-tag{
  margin-left: 1px;
}


.work-report-title{
  position: absolute;
  font-size: 16px;
  top: 48%;
  left: 10%;
  color: white;
  margin-top: 20px;
}





.footer-image{
  width: 100vw;
  height: 650px;
  vertical-align: bottom;
}





