
.show-top-page{
  width: 100vw;
  margin-top: 70px;
  padding-top: 40px;
  background-color: rgb(244, 244, 244);
}

.show-page-title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.show-tag{
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

}

.show-tag-list{
  font-size: 14px;
  color: rgb(165, 165, 165);
  padding-right: 35px;
}


.show-container{
  width: 85vw;
  display: flex;
  margin: auto;
}

/* .main-container        */
.main-container{
  width: 55%;
}

.show-item-image{
  width: 100%;
  border-radius: 10px;
}

.sub-title{
  font-size: 26px;
  font-weight: bold;
}

.btn-code{
  padding: 30px;
}


/* ------------------------------- */


/* side-container          */

.side-container{
  width: 45%;
}

.side-item-contents{
  width: 75%;
  margin: auto;
}

.total-inner{
  margin-top: 10px;
}

.backer-amount h5{
  font-size: 14px;
  color: rgb(52, 52, 52);
}
.backer-amount h5 span{
  font-size: 18px;
  color: rgb(7, 7, 7);
}

.backer-amount strong{
  font-size: 40px;
  font-weight: bold;
}

.support-person{
  margin-top: 30px;
}

.support-person-number{
  font-size: 14px;
  color: rgb(52, 52, 52);
}

.fa-user{
  padding-right:10px; 
  color: black;
}

.number{
  font-size: 40px;
  font-weight: bold;

}

.recruitment-end{
  margin-top: 30px;
  margin-bottom: 30px;
}

.recruitment-end-number{
  font-size: 14px;
  color: rgb(52, 52, 52);
}

.fa-clock{
  padding-right:10px; 
  color: black;
}


.support-box{
  width: 85%;
  margin: auto;
}
.btn-support{
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 79, 79);
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px 0px rgba(255, 46, 46, 0.5);
  cursor: pointer;
}

.btn-support:hover{
  opacity: 0.7;
}

.support-name{
  color: white;
  font-size: 20px;
}

.fa-chevron-circle-right{
  font-size:1.2em;
  margin-left: 10px;
}



.btn-favorite{
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.351);
  margin-bottom: 20px;
  border: solid 1px rgb(205, 205, 205);
}

.favorite{
  color: rgb(92, 92, 92);
  font-size: 16px;
}



/* show-content-page  */

.show-content-page{
  width: 100vw;
  border-top: solid 1px rgb(225, 225, 225);
}


/* .main-content */

.main-content{
  width: 55%;
}

.tab-group{
  display: flex;
}

.tab {
  font-size: 14px;
  padding: 15px;
  color: rgb(109, 109, 109);
  background-color: rgb(255, 255, 255);
  border-bottom: solid 2px rgb(255, 239, 225);
  cursor: pointer;
}

.tab.is-active{
  border-bottom: solid 2px rgb(255, 161, 80);
}

.tab.tab-A{
  border-radius: 3px;
}

.tab.tab-B:hover{
  border-radius: 3px;
  background-color: rgb(255, 228, 204);
}
.tab.tab-C:hover{  
  border-radius: 3px;
  background-color: rgb(255, 228, 204);
}
.tab.tab-D:hover{
  border-radius: 3px;
  background-color: rgb(255, 228, 204);
}


.tab.tab-A:hover{
  background-color: rgb(255, 228, 204);
}


.panel-group{
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
}

.panel{
  display: none;
}

.panel.is-show{
  display: block;
}



.works-report-list{
  border-bottom: solid 1px rgb(205, 205, 205);
}

.works-title{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.update-time{
  font-size: 14px;
  color: rgb(181, 181, 181);
  margin-bottom: 30px;
}


.next{
  color: rgb(85, 204, 255);
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.next:hover{
  opacity: 0.7;
}

.next-btn{
  color: rgb(85, 204, 255);
}

.fa-angle-right{
  margin-left: 7px;
  font-size: 1.3em;
}


.message-list{
  width: 100%;
  height: 120px;
  display: flex;
  margin-bottom: 10px;

}

.message-user-image{
  width: 20%;
}

.profile-user-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.message-box{
  width: 80%;
}

.message-name-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.message-nickname{
  color: rgb(85, 204, 255);
}

.message-update-time{
  font-size: 14px;
  color: rgb(181, 181, 181);
}

.message-detail{
  font-size: 16px;
}


.message-btn{
  text-align: center;
  margin-top: 30px;
}

.message-new-btn{
  display: inline-block;
  border-radius: 5%;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 60px;
  background-color: rgb(81, 255, 116);
  color: #ffffff;
  border: 1px solid rgb(137, 255, 160);
}

.message-new-btn:hover{
  opacity: 0.7;
}





/* side-container */
.profile-detail{
  width: 80%;
  height: 400px;
  background-color: rgb(247, 247, 247);
  margin: 50px auto;
  text-align: center;
}

.profile-box{
  margin-top:30px;
}




.profile-image{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}


.profile-name{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.profile-message{
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: rgb(37, 233, 233);
  color: rgb(252, 252, 252);
  border-radius: 5px 5px;
  margin-top: 20px;
}

.fa-envelope{
  margin-right: 5px;
}





.return-detail{
  width: 80%;
  margin: auto;
}

.return-detail h2{
  font-size: 18px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 20px;
}

.return-list{
  width: 100%;
  background-color: rgb(245, 245, 245);
  margin-bottom: 30px;
}

.return-list-box{
  width: 90%;
  margin: auto;
}

.return-money{
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-return{
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 107, 107);
  color: rgb(252, 252, 252);
  border-radius: 5px 5px;
  text-align: center;
  cursor: pointer;
}

.btn-return:hover{
  opacity: 0.7;
}


.return-message{
  font-size: 15px;
  color: rgb(89, 89, 89);
  margin-top: 20px;
}

.return-message p{
  margin-top: 20px;
}

.support-person-list{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;

}



.trix-content strong{
  font-weight: bold;
}
.trix-content em{
  font-style: italic;
}

.trix-content strong em{
  font-weight: bold;
  font-style: italic;
}

.trix-content ol{
  text-indent: 1em;
  list-style-type: decimal;
}

.trix-content ul{
  text-indent: 1em;
  list-style-type: disc;
}

progress{
  width: 250px;
  height: 30px;
}


.achievement-rate{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.achievement{
  font-size: 18px;
}


