<div class='header-main'>
  <div class='header'>
    <div class='heading'>
      <%# <h1 class='title'>タイトル</h1> %>
      <%= image_tag "baseball 7.jpg", size: '80x70' %>
    </div>
    <div class='navbar'>
      <ul class='nav-lists'>
        <li><a class="class" href="#">クラウドファンディングをはじめる</a></li>
        <li>さがす</li>
        <li><a class="class" href="#">ログイン</a></li>
        <li><a class="class" href="#">新規登録</a></li>
        <li><a class="class" href="#">ユーザー名</a></li>
        <%# <li><a class="class" href="#">ログアウト</a></li> %>
      </ul>
    </div>
  </div>
</div>
